.main{
    padding-top: 10px;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.logo{
    max-width: 100%;
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
.filmes img{
    max-width: 100%;
    height :300px;
    width:300px ;
    border-color: black;
    border-radius: 5px;
    border-width: thick;
    padding: 10px;
}
.card_des{
    padding-bottom: 10px;
}
.filmes{
    background-color: cadetblue;
    padding: 10px;
    padding-bottom: 10px;  
    margin: 0px;
}

.perfil{max-width: 200%;}

.novi img{
    max-width: 100%;
   
}

.novis{
    padding-top: 10px;
    background-color: rgb(100, 99, 99);
    margin: 0px;
}

.makingOff{
    padding-bottom:10px ;
}

.ifram{
    max-width: 100%;
    width: 300px;
    height: 200px;
}
.avaliacao{
    padding-top: 20px;
    padding: 10px;
    background-color: rgb(80, 73, 80);
    color: white;
    margin: 0px;
}

.avaliacao h3{
    font-size: 1.4em;
}

.ifra{
    max-width: 100%;
    height: 300px;
    width: 200%;
    padding-left: 90px;
    padding-top: 7px;
    
}

.carrosel{
    max-width: 100%;
    margin: 0px;
}

.slide{
    max-width: 100%;
    background-color: rgb(36, 37, 39);
    color: white;
    border-radius: 2%;
    margin: 0px;
}

.carousel-control-prev{
    max-width: 9%;
    
}
.carousel-control-next{
    max-width: 9%;
    
}

.caro{
    z-index: -1;
}

.footer{
    background-image: url(img/stan-lee-marvel-comics.jpeg);
    background-size: cover;
    background-position: 0px -150px;
    padding: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    
}

.footer b{
    background-color: rgba(0, 0, 1, 0.705);
}

.logo2{
    max-width: 100%;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    
}

.nav-link{
    background-color: rgb(80, 73, 80);
    border-radius: 10%;
}

.hulk{
    position: fixed;
    display: block;
    right: 13px;
    z-index: -1;
    top: 10px;
    height: 100px;
    width: 100px;
}

.god{
    position: fixed;
    display: block;
    left: 13px;
    z-index: -1;
    top: 10px;
    height: 100px;
    width: 100px;
}

.tha{
    position: fixed;
    display: block;
    right: 13px;
    z-index: -1;
    bottom: 10px;
    height: 100px;
    width: 100px;
}

.bat{
    position: fixed;
    display: block;
    left: 13px;
    z-index: -1;
    bottom: 10px;
    height: 100px;
    width: 100px;
}

.wh{
    max-width: 100%;
    width: 50%;
    height: 50%;
    float: left;
}

.avis{
    position: fixed;
    display: block;
    left: 13px;
    z-index: -1;
    top: 49%;
    flex-wrap: wrap;
    background-color: rgb(165, 161, 161);
    border-radius: 80%;
}

.fundo{
    background-color: gray;
}
.ent{
    background-color: rgb(99, 97, 97);
    padding-top: 10px;
    margin: 0px;
}
.ic a{
    color:blue;
}

.menu1{
    padding: 40px;
}

#menuToggle{
    display: none;
    color: white;
}
.menu-icon{
    display: none;
    color: white;
    
}

@media screen and (max-width:480px){
     .header{
         position: fixed;
         top:0px;
         width: 100%;
     }
     .header nav{
         width: 100%;
         height: 100%;
         z-index: 1;
         
     }

    
     .menu1{
        display: flex;
        position:static;
        flex-wrap: wrap;
        align-content: center;
        top: 0px;
        left: 0px;
        z-index: 1;
     }
     

     .logo{
        z-index: 9999;
        max-width: 100%;
        height: 90px;
        width: 90px;
        border-radius: 100%;
     }
     .logo2{
        max-width: 100%;
        height: 90px;
        width: 90px;
        border-radius: 100%;
     }
     .menu1{
         
         margin-left: 0px;
         margin-bottom: 20px;
     }

    
     .menu-icon{
         display: block;
         color: white;
         width: 50px;
         position: absolute;
         top: 15px;
         right: 20px;
         line-height: 60px;
         z-index: 999;
     }

     .menu-icon i{
         font-size: 1.7em;
     }

     #menuToggle:checked ~ label i:nth-child(2){
         display: block;

     }

     #menuToggle:checked ~ label i:first-child{
        display: none;

    }

    #menuToggle:not(checked) ~ label i:first-child{
        display: block;

    }

    #menuToggle:not(checked) ~ label i:nth-child(2){
        display: none;

    }

    #menuToggle:not(checked) ~ .nav-link{
        display: none;
        
    }

    #menuToggle:checked ~ .nav-link{
        display: block;
    }

     .god{
         display: none;
     }
     .hulk{
        display: none;
    }

    .tha{display: none;}

    .bat{display: none;}

    .avis{
        display: none;
    }

    .ifra{
        display: none;
    }

    .ifram{
        max-width: 100%;
        
    }
    
   
 
   .slide{
       z-index: -1;
       max-width: 100%;
       padding-top: 30%;
       padding-bottom: 10px;
   }

   
    .perfil{max-width: 150%;}
}

@media screen and (max-width:768px){
   
    .logo{
       z-index: 9999;
       max-width: 100%;
       height: 90px;
       width: 90px;
       border-radius: 100%;
    }
    .logo2{
       max-width: 100%;
       height: 90px;
       width: 90px;
       border-radius: 100%;
    }
    
   
    .god{
        display: none;
    }
    .hulk{
       display: none;
   }

   .tha{display: none;}

   .bat{display: none;}

   .avis{
       display: none;
   }

   .ifra{
        max-width: 100%;
        height: 200px;
        width: 100%;
        padding-left: 60px;
        padding-top: 7px;
   }

   .ifram{
       max-width: 100%;
       
   }
   
  

  .slide{
      z-index: -1;
      max-width: 100%;
      padding-bottom: 10px;
  }

  
   .perfil{max-width: 150%;}
}